# Razorpay Credentials
RAZORPAY_KEY=rzp_test_SN8K7G4rOcDgUU
RAZORPAY_SECRET=IZ73sQ7wcdJNulMRoHzKSjkw

# JWT Secret Key (change in production)
SECRET_KEY=your-secret-key-change-in-production

# Database URL (default: SQLite)
DATABASE_URL=postgresql://postgres:Arnav%40postgresql2025!@localhost:5432/resurgence